<li>
<span><%= article.url %></span>
<span><%= article.content.to_s[0..200] %></span>
<span class="timestamp">
  Posted <%= time_ago_in_words(article.created_at) %> ago.
</span>
<% if current_user?(article.user) %>
  <%= link_to "delete", article, method: :delete,
   data: { confirm: "You sure?" },
   title: article.content %>
 <% end %>
</li>
