<%= form_for(@article) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :url, placeholder: "Please fill in url" %>
  </div>
  <%= f.submit "Register", class: "btn btn-large btn-primary" %>
<% end %>
